
body {
  font-family: 'ZCOOL QingKe HuangYou', cursive;
  font-family: 'Overpass', sans-serif;
  background: #7dd1ce;
}

.container {
  width: 240px;
  margin: 20px auto;
  padding: 0 auto;
}

.today {
  font-size: 50px;
  font-weight: bold;
  font-family: 'ZCOOL QingKe HuangYou', cursive;
  letter-spacing: 1rem;
}

.start {
  text-align: center;
  width: 240px;
  height: 50px;
  font-size: 18px;
  font-weight: bold;
  border-radius: 7px;
  background: #ff4500;
  color: white;
  letter-spacing: 2px;
}

.count {
  font-size: 70px;
  height: 100px;
  line-height: 100px;
}

.side {
  font-size: 40px;
  margin-left: 20px;
}

.diaryHead {
  font-size: 20px;
}

textarea {
  width: 240px;
  height: 170px;
  border-radius: 7px;
}