@charset "utf-8";

body {
  font: Lato, "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;

  /* font-size 10pxに設定する*/
  font-size: 62.5%;
  max-width: 1440px;
  min-width: 300px; 
  margin: 0 auto;

}

a {
  text-decoration: none;
  color: black;
}  

.container {
  width: 100%;
  height: 100%;
  text-align: center;
  font-size: 1rem;
}


/*********************************************************************************************/
nav {
  background: #ffff;
  position: fixed;
  right: 0;
  left: 0;
  z-index: 1030;
  box-shadow: 0 2px 4px rgba(0,0,0,0.3);
}

.navContainer {
  padding: 1.5rem 1rem;
  display: flex;
  justify-content: space-between;
}

.navContainer__home {
  width: 2rem;
  height: 2rem;
  background: #ed6504;
  border-radius: 50%;
  padding-right:0;
}

.navContainer__navRight {
  display: flex;
  justify-content: flex-end;
  font-size: 1rem;
}

nav li {
  list-style: none;
  margin-right: 1rem;
}

nav li:last-child {
  margin-right: 0;
}

.navContainer--orange:hover{
  color: #ed6504;
}

nav li:first-child {
  padding-right: 2rem;
}

select {
  color: #ed6504;
  padding-right: 1rem;
  text-decoration: none;
  font-size: 1rem;

}

select#language {
  margin: 0;
  padding: 0;
}
.navContainer__choose {
	overflow: hidden;
  width: 90%;
	text-align: center;
}
.navContainer__choose select {
	width: 100%;
	cursor: pointer;
	text-indent: 0.05rem;
	text-overflow: ellipsis;
	background: transparent;
	background-image: none;
	box-shadow: none;
	-webkit-appearance: none;
	appearance: none;
}
.navContainer__choose select::-ms-expand {
    display: none;
}

.navContainer__choose::before {
	position: absolute;
	top: 2.1rem;
	right: 22rem;
	width: 0;
	height: 0;
	padding: 0;
	content: '';
	border-left: 0.3rem solid transparent;
	border-right: 0.3rem solid transparent;
	border-top: 0.3rem solid #666666;
}

.navContainer__join,
.navContainer__logIn {
  padding: 0.5rem;
  border-radius: 0.1rem;
}

.navContainer__join {
  background: #3e99d5;
  color: #ffff;
}

.navContainer__join:hover {
  background: #2371a3;
  transition: 0.8s;
}

.navContainer__logIn {
  color: #2371a3;
  border: 1px solid  #2371a3;
}

.navContainer__logIn:hover {
  background: #e6e6e6;
  transition: 0.8s;

}


/*********************************************************************************************/
.hero {
  background: #e6e6e6;
  padding: 20rem 0;
  color: #ffff;
  font-weight: normal;
}
.hero h1 {
  font-size: 2.5rem;
  font-weight: normal;
  margin-bottom: -0.7rem;
}

.hero h2 {
  font-size: 2rem;
  font-weight: normal;
}

.hero > section > button {
  font-size: 1.6rem;
  background: #fb7210;
  color: #ffff;
  padding: 0.8rem 3rem;
  border-radius: 0.3rem;
}

.hero > section > button:hover {
  background: #d45a04;
  transition: 0.5s;
}

/*********************************************************************************************/
.reason {
  /* height: 70rem; */
  height: 100%;
  background: #287fb8;
}

.reason h2 {
  margin: 0 auto;
  padding: 3rem 0 0 0;
  font-size: 2rem;
  font-weight: normal;
  color: #ffff;
}

.reason__line {
  width: 3rem;
  height: 1.5rem;
  border-bottom: solid 0.1rem #ffff;
  margin: 0 auto;
  text-align: center;
}

.reason article {
  padding: 2rem 4rem 2rem 4rem;
  display: flex;
  justify-content: center;

}
.reason__why {
  width: 40rem;
  /* height: 50rem; */
  background: #3e99d5;
  margin-right: 1rem;
} 

.reason__why__container {
  padding: 3rem;
}


.reason__why:last-child {
  margin-right: 0;
}

.reason__why__pic {
  width: 100%;
  height: 100%;
  background-size: cover;
}

.reason__why__pic--first {
  background-image: url('https://placehold.jp/340x420.png');
}

/* .reason__why__container {
  padding: 3rem;
} */

.reason p {
  color: #ffff;
  text-align: center;
  font-size: 1.6rem;
}


/*********************************************************************************************/
.review {
  height: 70rem;
  background: #e6e6e6;
}

/*********************************************************************************************/
.about {
  height: 110rem;
  background: #ed6504;
}

/*********************************************************************************************/
.info {
  height: 60rem;
  background: #e6e6e6;
}

/*********************************************************************************************/
.security {
  height: 73rem;
  background: #287fb8;
}

/*********************************************************************************************/
.service {
  height: 60rem;
  background: #e6e6e6;
}

/*********************************************************************************************/
.destination {
  height: 103rem;
  background: #e6e6e6;
}

/*********************************************************************************************/
footer {
  height: 26rem;
  background: #ffff;
}